<section class="home-page-slider">
    <mat-carousel [loop]="true" [hideArrows]="false" [hideIndicators]="false">
        <mat-carousel-slide *ngFor="let slide of wprestService.slides">
            <div class="slide" [style.background-image]="'url(' +  slide.fimg_url + ')'">
                <div class="slide-overlay">
                    <div class="slider-caption">
                        <h1>{{slide.title.rendered}}</h1>
                        <h3 class="shadow-label">{{slide.title.rendered}}</h3>
                        <div [innerHTML]="slide.content.rendered"></div>
                    </div> 
                </div>
            </div>
        </mat-carousel-slide>
    </mat-carousel>
</section>