mat-carousel {
    position: relative;
    .slide {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slide-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
    }
    .slider-prev {
        position: absolute;
        top: 50%;
        left: 100px;
        background-color: #fff;
    }
    .slider-next {
        position: absolute;
        top: 50%;
        right: 100px;
        background-color: #fff;
    }
    .slider-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 600px;
        padding: 5px 10px;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }
    .shadow-label {
        position: absolute;
        width: 100%;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        opacity: 0.1;
    }
}
