footer{
    padding: 2rem;
    background-color: black;
    color: white;
    
    nav{
    text-align: center;
        
        ul{
        padding: 1rem;

            li{
            display: inline-block;

                a{
                display: block;
                padding: 0.8rem;
                color: white;
                border-radius: 0.4rem;
                }

                a:hover{
                background-color: #00205b;
                }
            }
        }
    }
}