<app-hero *ngIf="item" [title]="item.title.rendered" [featured_img_url] = item.featured_img_url></app-hero>

<section class="contact">
    <div class="container" *ngIf="item">
        
        <div class="form">

            <mat-form-field appearance="fill">
                <mat-label>First and Last Name</mat-label>
                <input [(ngModel)]='cf7request.firstlastname' type="text" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input [(ngModel)]='cf7request.email' type="email" matInput placeholder="pat@example.com" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Region</mat-label>
                <mat-select [(ngModel)]='cf7request.region'>
                    <mat-option value="CIS">CIS</mat-option>
                    <mat-option value="North America">North America</mat-option>
                    <mat-option value="Europe">Europe</mat-option>
                    <mat-option value="Asia">Asia</mat-option>
                </mat-select>
            </mat-form-field>   
            
            <mat-radio-group [(ngModel)]='cf7request.gender'>
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>

            <mat-form-field appearance="fill">
                <mat-label>Message</mat-label>
                <textarea [(ngModel)]='cf7request.message' matInput></textarea>
            </mat-form-field>

            <button mat-raised-button (click)="getFormEntries()">Submit</button>
            
        </div>

        <div class="page-content" [innerHTML]="item.content.rendered"></div>

    </div>
</section>
