.contact {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 70px 0;
    }
    .form, .page-content {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding: 20px;
    }
    .form {
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    }
    .mat-radio-button {
        margin-right: 30px;
        margin-bottom: 20px;
    }
    .mat-raised-button {
        background-color: #00205b;
        color: white;
        &:hover {
            background-color: black;
        }
    }
}