<app-hero *ngIf="item" [title]="item.title.rendered" [featured_img_url] = item.featured_img_url></app-hero>

<section class="post">
    <div class="container" *ngIf="item">
        <div [innerHTML]="item.content.rendered"></div>
    </div>
</section>
