.home-blog {
    .post-listing {
        display: flex;
        flex-wrap: wrap;
    }
    .post-item {
        width: 21%;
        margin: 0 5px 50px;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
        img {
            max-height: 165px;
        }
        .post-date {
            display: block;
            margin-bottom: 20px;
        }
    }
    h2 {
        margin: 50px auto;
    }
    .mat-card-title {
        font-family: 'Righteous', sans-serif;
        font-size: 18px;
        color: #00205b;
    }
}