<section class="home-blog">
    <div class="container">
        <h2>Our Latest News</h2>
    </div>
    <div class="container">
        <div class="post-listing">
            <mat-card *ngFor="let post of postList" class="post-item">
                <a [routerLink]="['post', post.slug]">
                    <img mat-card-image src="{{post.featured_img_url}}">
                    <mat-card-title>{{post.title.rendered}}</mat-card-title>
                    <span class="post-date">{{post.date | date:'fullDate'}}</span>
                    <mat-card-content [innerHTML]="post.excerpt.rendered"></mat-card-content>
                </a>
            </mat-card>
        </div>
    </div>
</section>
