<header>
    <nav>
        <ul>
            <li *ngFor="let item of menuList">
                <a [routerLink]="[item.url]">{{item.title}}</a>
            </li>
        </ul>
    </nav>

    <div class="login">
        <div class="loggedin" *ngIf="userToken !== null">LOGGED IN</div>
        
        <form *ngIf="userToken === null">
            <mat-form-field appearance="fill">
                <mat-label>Login</mat-label>
                <input name="username" type="text" [(ngModel)]="username" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input name="password" type="password" [(ngModel)]="password" matInput>
            </mat-form-field>
            <button (click)="doLogin()">Go</button>
        </form>
    </div>
</header>