// Colors
$color-blue: #0077c8;
$color-darkblue: #00205b;
$color-white: #ffffff;

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    
    nav{
    text-align: center;

        ul{
        padding: 1rem;

            li{
            display: inline-block;

                a{
                display: block;
                padding: 0.8rem;
                color: $color-white;
                border-radius: 0.4rem;
                }

                a:hover{
                background-color: $color-darkblue;
                }
            }
        }

    }

    .login {
        padding-top: 1.34375em;
    }

    .loggedin {
        color: white;
        margin-right: 30px;
    }
    
    form {
        display: flex;
    }

    .mat-form-field {
        margin: 0 5px;
    }

    button {
        margin-right: 30px;
        margin-left: 5px;
        height: 60px;
        width: 60px;
        &:hover {
            cursor: pointer;
        }
    }

    ::ng-deep .mat-form-field {
        .mat-form-field-flex {
            background-color: white;
        }
    }
}
