.hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .overlay {
        min-height: 340px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
    }
    h1 {
        color: white;
    }
}