// Colors
$color-blue: #0077c8;
$color-darkblue: #00205b;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #d7d7d8;

// Fonts
$font-roboto: 'Roboto', sans-serif;
$font-righteous: 'Righteous', sans-serif;

body{
    margin: 0;
    font-family: $font-roboto;
}

*{
    margin:0;
    padding:0;
}

a{
cursor: pointer;
    text-decoration: none;
    color: $color-black;
}

h1, h2 ,h3, h4, h5, h6 {
    font-family: $font-righteous;
    margin-bottom: 15px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p {
    margin-bottom: 20px;
}

a {
    color: $color-darkblue;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

main {
    min-height: 90vh;
}
