.blog {
    .container {
        padding: 70px 0;
    }
    .search-area {
        justify-content: space-between;
    }
    .search-submit {
        background-color: #00205b;
        padding: 15px;
        color: white;
        &:hover {
            cursor: pointer;
            background-color: black;
            margin-top: -1px;
        }
    }
    .post-listing {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }
    aside {
        width: 30%;
    }
    .post-item {
        width: 43%;
        margin-right: 15px;
        margin-bottom: 15px;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
        img {
            max-height: 230px;
        }
        .post-date {
            display: block;
            margin-bottom: 20px;
        }
        .mat-card-title {
            font-family: 'Righteous', sans-serif;
            font-size: 18px;
            color: #00205b;
        }
    }
}