<section class="blog">
    <div class="container search-area">
        <h1>Blog</h1>
        <div class="search">
            <mat-form-field appearance="fill">
                <mat-label>Search</mat-label>
                <input id="search" type="search" matInput>
            </mat-form-field>
            <button (click)="getInputValue()" class="material-icons search-submit">search</button>
        </div>
    </div>
    
    <div class="container">
        <div class="post-listing">
            <mat-card *ngFor="let post of postList" class="post-item">
                <a [routerLink]="['/post', post.slug]" routerLinkActive="active-link">
                    <img mat-card-image src="{{post.featured_img_url}}">
                    <mat-card-title>{{post.title.rendered}}</mat-card-title>
                    <span class="post-date">{{post.date | date:'fullDate'}}</span>
                    <mat-card-content [innerHTML]="post.excerpt.rendered"></mat-card-content>
                </a>
            </mat-card>
        </div>
        <aside>
            <h2>Categories:</h2>
            <a *ngFor="let category of categoryList" class="category">
                <h3 (click)="onClick(category.id)">{{category.name}}</h3>
            </a>
        </aside>
    </div>
</section>

