.subscribe {
    background-color: #00205b;
    .container {
        align-items: center;
        justify-content: center;
        padding: 70px 0;
    }
    h2 {
        color: white;
        margin-right: 50px;
    }
    .form {
        display: flex;
    }
    .mat-button-base {
        height: 60px;
        border-radius: 0;
        background-color: black;
        color: white;
    }
    ::ng-deep .mat-form-field {
        .mat-form-field-flex {
            background-color: white;
        }
    }
}