<section class="subscribe">
    <div class="container">
        <h2>Subscribe</h2>
        <div class="form">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input [(ngModel)]='cf7request.email' type="email" matInput placeholder="pat@example.com" required>
            </mat-form-field>
            <button mat-raised-button (click)="getFormEntries()">SEND</button>
        </div>
    </div>
</section>
